pandas_market_calendars
yfinance
compress_pickle
hydralit
hydralit_components
streamlit
numpy
hotstepper
altair
pandas
spacy
validators
bokeh
srsly
spacy-streamlit
astroquery
sunpy
astropy
pydeck
scipy
matplotlib